{% extends 'base.html' %}

{% block title %} Procura Animal {% endblock %}

{% block menuColor %} 'ui fluid four large item menu teal' {% endblock %}
{% block navCadastro %}'item '{% endblock %}
{% block navAlteracoes %}'item'{% endblock %}
{% block navRelatorios %}'item active'{% endblock %}
{% block navConfig %}'item'{% endblock %}

{% block content %}
    <div class='ui grid cadPessoa'>
        <div class='row'>
            <div class='two wide column'>
            </div>
            <div class='twelve wide column'>
                <div class='ui raised segment'>
                    <h3 class="ui teal ribbon huge label">Procura Animal</h3>
                    <form action = "" method = "POST"   > {% csrf_token %}
                    <p></p>
                    <div class='ui fluid input'>
                        <label for = "nome" class = "control-label" > Nome: </label>
                        <input type = "text" id = "nome" name = "nome" placeholder = "Nome" required autofocus>
                    </div>
                    <div class="ui ignored divider"></div>
                    <button type = "submit" class='ui hover button teal circular small' > Buscar </button >
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}