{% extends 'base.html' %}

{% block title %} Detalhe Pessoa {% endblock %}

{% block menuColor %} 'ui fluid four large item menu teal' {% endblock %}
{% block navCadastro %}'item '{% endblock %}
{% block navAlteracoes %}'item'{% endblock %}
{% block navRelatorios %}'item active'{% endblock %}
{% block navConfig %}'item'{% endblock %}
{% block content %}
    <div class='ui grid relatorios'>
        <div class='middle aligned row'>
            <div class='two wide column'>
            </div>
            <div class='twelve wide column'>
                <div class='ui raised segment'>
                    <h3 class="ui teal ribbon huge label">Detalhe Pessoa</h3>

                    <h5 class="ui dividing header">
                        Pessoa
                    </h5>
                        {{ pessoa.nome }} - 
                        {{ pessoa.endereco }} <br/>
                        {{ pessoa.telefone }} - 
                        {{ pessoa.telefoneCel }}
                    {% if animais %}
                        {% for animal in animais %}
                            <h5 class="ui dividing header">
                                    Animal
                            </h5>
                                {{ animal.nome}} -  
                                {{ animal.especie}} - 
                                {{ animal.raca }} <br/>
                                {{ animal.pelagem}} - {{ animal.caracteristica_marcante}}
                        {%endfor%}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


