{% extends 'base.html' %}

{% block title %} Relatórios {% endblock %}

{% block menuColor %} 'ui fluid four large item menu teal' {% endblock %}
{% block navCadastro %}'item '{% endblock %}
{% block navAlteracoes %}'item'{% endblock %}
{% block navRelatorios %}'item active'{% endblock %}
{% block navConfig %}'item'{% endblock %}
{% block content %}
    <div class='ui grid relatorios'>
        <div class='middle aligned row'>
            <div class='two wide column'>
            </div>
            <div class='twelve wide column'>
                <div class='ui raised segment'>
                    <h3 class="ui teal ribbon huge label">Escolha o tipo de relatório</h3>
                    <div class='ui link list'>
                        <a href='/cadastro/pessoa/inicial' class='item'><i class="icon hand down large"></i>Recomendações de hoje</a>
                        <a href='/cadastro/animal' class='item'><i class="hand right icon large"></i>Recomendações de amanhã</a>
                        <a href='/cadastro/estadia' class='item'><i class="icon hand left large"></i>Recomendações de ontem</a>
                        <a href='/cadastro/recomendacao' class='item'><i class="icon heart large"></i> Animais hospedados</a>
                        <a href='/cadastro/recomendacao' class='item'><i class="icon heart empty large"></i> Acomodações Livres</a>
                        <a href='/cadastro/recomendacao' class='item'><i class="fa fa-paw fa-15x"></i> Estadia por animal</a>
                        <a href='/cadastro/recomendacao' class='item'><i class="icon user large"></i> Estadia por pessoa</a>
                    <ul>
                </div>

{% endblock %}