<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/semantic.css'/>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/font-awesome.css'/>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/hotel.css'/>
    <title>Casinha - {% block title %} {% endblock %}</title>
</head>
<body>
    <header class='ui grid'>
        <div class='middle aligned row'>
            <div class='four column wide'>
                <a href='/'><i class='massive icon home'></i></a>
            </div>
            <div class='eleven wide column '>
                <nav class={% block menuColor %}{% endblock %}>
                    <a href='/cadastro' class={% block navCadastro %}{% endblock %} > Cadastros </a>
                    <a href='/editar' class={% block navAlteracoes %}{% endblock %}> Alterações </a>
                    <a href='/relatorios' class={% block navRelatorios %}{% endblock %}> Relatórios </a>
                    <a href='/configuracoes'class={% block navConfig %}{% endblock %}> Configurações </a>
                </nav>
            </div>
        </div>
    </header>
    {% if user.is_authenticated %}
            <div class='four column wide direita'>
                <a href='/logout'>Logout </a><br/> 
                
            </div>
        {% else %}
            <div class='four column wide'>
                <a href='/login'><button type = "button" class='ui hover button green circular small' > Login </button ></a><br/> 
                
            </div>
        {% endif %}
    {% block content %}
    {% endblock %}
     
</body>
</html>