body {

    color:#000;
    font-family: "Trebuchet MS", Verdana, Helvetica, sans-serif;
    background-color:#F6F3D5;
}

a {

    text-decoration: none;
    margin-right: 15%;
    color: #444;
}

nav {

    margin-bottom: 1em;

}
form{

    padding: 10px;
}
.cadPessoa.raised{

    margin-left: 25%;
    border-radius: 1em;
}

button{

    float:right;
}
