{% extends 'base.html' %}

{% block title %} Altera Pessoa {% endblock %}
{% block menuColor %} 'ui fluid four large item menu orange' {% endblock %}
{% block navCadastro %}'item'{% endblock %}
{% block navAlteracoes %}'item active'{% endblock %}
{% block navRelatorios %}'item'{% endblock %}
{% block navConfig %}'item'{% endblock %}

{% block content %}
    <div class='ui grid cadPessoa'>
        <div class='row'>
            <div class='two wide column'>
            </div>
            <div class='twelve wide column'>
                <div class='ui raised segment'>
                    <h3 class="ui orange ribbon huge label">Cadastro alterado com sucesso!</h3>
                    <p>Nome: {{ animal.nome }} </p>
                    <p>Espécie: {{ animal.especie }} </p>
                    <p>Raça: {{ animal.raca }} </p>
                    <p>Idade: {{ animal.idade }} meses </p>
                    <p>Pelagem: {{ animal.pelagem }} </p>
                    <p>Característica Marcante: {{ animal.caracteristica_marcante }} </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}