{% extends 'base.html' %}

{% block title %} Cadastro Pessoa {% endblock %}

{% block menuColor %} 'ui fluid four large item menu orange' {% endblock %}
{% block navCadastro %}'item active'{% endblock %}
{% block navAlteracoes %}'item'{% endblock %}
{% block navRelatorios %}'item'{% endblock %}
{% block navConfig %}'item'{% endblock %}

{% block content %}
    <div class='ui grid cadPessoa'>
        <div class='row'>
            <div class='two wide column'>
            </div>
            <div class='twelve wide column'>
                <div class='ui raised segment'>
                    <h3 class="ui orange ribbon huge label">Cadastrado com sucesso!</h3>
                    <p>Dono: {{ dono }} </p>
                    <p>Animal: {{ animal }} </p>
                    <p>Data da Entrada: {{ estadia.data_entrada }} às {{estadia.hora_entrada}}</p>
                    <p>Data da Saída: {{ estadia.data_saida }} </p>
                    <p> Recomendação: {{ estadia.recomendacao }}</p>
                    <p> Prioridade: {{ estadia.prioridade }}
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}